.menufinal{
    display: inline-block;
    background-color:rgb(253, 249, 249);
    width: 9%;
    height: 100vh;
 }
 .bot_cerra{
    display: none;

}
 #beginsquare{
    background-color: rgb(22, 18, 18);
     height: 11%;
     border-top-left-radius: 50%;
 }
 #centersquare{
     background-color: rgb(22, 18, 18);
     height: 75%;
     
 }
 #finalsquare{
    background-color: rgb(22, 18, 18);
     height: 14%;
     border-bottom-left-radius: 50%;
    
 }
 .scrollbar{
	float: right;
	height: 100%;
	width: 100%;
    background-color: rgb(22, 18, 18);
	overflow-y: scroll;
    direction: rtl;
 }

#style-1::-webkit-scrollbar{
	width: 13px;
    background-color: rgb(22, 18, 18);
   border-left: 5px solid black;
}

#style-1::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color:  #d8cbe4;;
    border-left: 5px solid black;
       
}

#cards{
    background-color: rgba(139, 113, 113, 0.658);
    width: 75%;
    height: 15%;
    margin-right: 10px;
     margin-top: 20px;
     border-radius: 10%;
}
#cardtitle{
    background-color: #e78b5da6;
    height: 30%;
     color: rgb(0, 0, 8);
    font-weight: bold;
     border-radius: 10%;
     display: flex;
    
}
#cardtitle h2{
    font-size: 0.8rem;
    color: blanchedalmond;
    margin-top: 10px;
}
#student p {
    color: blanchedalmond;
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
}
.wapp{
    width: 25px;
    position:relative;
    z-index:2;  
    border-radius: 100px;
    bottom: 13px;
}

@media screen and (max-width:767px){
   .menufinal{
       width: 28%;
    }
    #cards{
        min-width: 80px;
    }
    #cards h2{
        font-size: 0.6rem;
    }
}
@media screen and (min-width:768px)and (max-width:1023px){
    .menufinal{
        width: 28%;
     }
     #cards{
         min-width: 100px;
     }    
 }
 @media screen and (min-width:1024px)and (max-width:1300px){
    .menufinal{
        width: 16%;
     }
     #cards h2{
        font-size: 0.7rem;
    }
 }
 @media screen and (min-width:1301px)and (max-width:1440px){
    .menufinal{
        width: 22%;
     }
    #beginsquare{
        height: 15%;
     }
    #centersquare{
        height: 85%;
        
    }
    #finalsquare{
       height: 20%;
     }
 }